<div class="container">
  <div class="esquerda">
    <h1>Nome do site</h1>
    <p>Frase do site</p>
    <button>Ler Mais</button>
  </div>
  <div class="direita">
    <h2>Título</h2>
    <p>Sub título</p>
    <form>
      <input type="email" placeholder="Email" required />
      <div class="imput-content">
        <input type="senha" placeholder="Senha" required />
        <span class="material-symbols-outlined"> visibility_off </span>
      </div>
      <button type="submit" class="login-btn">Login</button>
    </form>
    <div class="esqueci-senha">Esqueceu sua senha?</div>
  </div>
</div>
